canvas {
  position:fixed;
  top: 0;
  left: 0;
  outline: none;
}



body {
  margin: 0;
}
::-webkit-scrollbar { width: 0 !important }

main {
  width : 100%;
  position : fixed;
}

p {
  padding-left: 5%;
  padding-top: 5%;
}

.ds{
  font-size: 50%;
  color:bisque;
  line-height: 168%;
}

.section{
  height : 100vh;
  display : flex;
  align-items:left;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content : left;
  font-size : 3em;
  font-family : 'Times New Roman', Times, serif;
  opacity: 1;
}

.one {
  background-color: #242582 ;
  color : #fff;
}

.two {
  /*background-color: #f64c72;*/
  color : #fff;
}

.three {
  background-color: #f64c72;
  color : #fff;
}

.four {
  /*background-color: #99738e;*/
  color : #fff;
}

.five {
 background-color: #99738e;

  color : #fff;

}

.m{
  scroll-snap-type: mandatory;
}

.c{
  scroll-snap-align: start;
}